/* Reset */
body, html {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Overpass', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.nav-container {
    background-color: #343a40;
    padding-top: 10px; /* Adjusted padding */
}

.navbar-brand {
    font-weight: bold;
    color: #fff; /* Changed navbar brand color */
}

.navbar-text {
    margin-bottom: 0;
    color: #fff; /* Changed navbar text color */
}

.footer {
    background-color: #343a40;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.logo {
    color: #dd0000;
}

/* Home Page Specific Styles */
.content {
    padding-top: 80px;
    min-height: calc(100vh - 240px);
}

h1 {
    color: #333;
}

/* Media Queries */
@media (max-width: 767px) {
    .content {
        padding-top: 56px;
    }
}
