<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Discover the latest advancements and trends in artificial intelligence (AI) on our platform. Stay informed with real-time updates, insightful analyses, and exclusive interviews, all curated to keep you at the forefront of innovation."/>
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='/favicon.ico') }}" rel="icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <title>Sora Latest</title>
</head>
<body>

    {% block navbar %}

    <div class="container-fluid nav-container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-sm">

            <a class="navbar-brand" href="{{ url_for('home') }}"><span class="logo">Sora</span> Latest</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                <p class="navbar-text">Explore the latest AI news with our curated collection of fresh insights, delivering innovation right to your fingertips.</p>
            </div>
        </nav>
    </div>

    {% endblock %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        {% block footer %}
        <div class="container-fluid footer">
            <p class="text-center footer-text">© <span class="logo">Sora</span> Latest By SRC</p>
        </div>
        {% endblock %}
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
